<!DOCTYPE html>
<html>
<head>
	<title>Test Page</title>
</head>
<body>
	<form action="/test" method="post" enctype="multipart/form-data">
		<input type="file" name="file">
		<input type="submit" value="Submit">
	</form>
</body>
</html>